<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="form-signin-heading">Login</h2>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input class="form-control" type="email" formControlName="email" placeholder="Email address" required autofocus>

  <label for="inputPassword" class="sr-only">Password</label>
  <input class="form-control" type="password" formControlName="password" placeholder="Password" required>
  <!--<div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>-->
  <button class="btn btn-lg btn-primary btn-block" type="submit">Let me in!</button>
</form>