<div class="accordion-grid">

  <div *ngFor="let device of devices" class="row accordion-element">
    <div class="accordion-header" (click)="onAccordionClick(device)">
      <div class="col-sm-9">
        {{ device.name }}
      </div>
      <div class="col-sm-offset-2 col-sm-1 expand-icon">
        <i class="fa {{ device.expanded ? 'fa-angle-up' : 'fa-angle-down' }}" aria-hidden="true"></i>
      </div>
    </div>
    <div *ngIf="device.expanded" class="col-sm-12 accordion-content">
      <app-accordion-content [deviceId]="device.id"></app-accordion-content>
    </div>
  </div>


</div>
            
