.accordion-grid {

  .accordion-element {
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #eee;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    .accordion-header {
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;

      .expand-icon {
        text-align: right;
      }
    }

    .accordion-content {
      background-color: #fff;
      margin-top: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}